<h1>Pok&eacute;dex</h1>

<table class = "pokemonList">
  <tbody>
	<%
	  require 'json'
	  file = File.read("app/assets/json/pokedex2.json")
	  #data = JSON.parse(file)
	  #data = JSON.parse '[{ "x": "y" }]' # => {"x"=>"y"}
	  data = [{"id"=>"001","nameFr"=>"Bulbizarre","nameUs"=>"Bulbasaur","nameJap"=>"Fushigidane","type1"=>"plante","type2"=>"poison","picture"=>"001.png"}]
	%>
	<p><%= data %></p>
	<%  
      #@pokemons.each do |pokemon|
	  data.each do |pokemon|
	  %>
      <tr>
        <td><b><%= pokemon[:nameFr] %></b></td>
        <td><div class = "<%= pokemon[:type1] %>"></div></td>
        <td><div class = "<%= pokemon[:type2] %>"></div></td>
        <td>
			<img class = 'miniat' src = "<%= pokemon[:picture] %>"></img>
		</td>
        <td><%= link_to 'Voir', pokemon %></td>
        <td><%= link_to 'Modifier', edit_pokemon_path(pokemon) %></td>
        <td><%= link_to 'Retirer', pokemon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ajouter un Pokemon', new_pokemon_path %>
